.badge > span, #newComment span
{
	display: table;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	color: #EF9D4D;
	font-size: 20px;
	height: 25px;
	background-color:#fff;
}

 
.badge
{
	margin-top:25px;
	background-color:#fff;
}