body {
}

#fileAttachmentGroupID_SixCard
{
	/*width:50% !important;*/
	float:left !important;
	
}
#buttonUpload
{
	float:left !important
}
#fileAttachmentGroupID
{
	/*width:50% !important;*/
	float:left !important;
}
