body {

}

/*.RegionSelector>#attributionName
{
 width:84% !important
}
.RegionSelector>#startPlaceName
{
 width:85% !important
}
.RegionSelector>#endPlaceName
{
 width:85% !important
}
.RegionSelector>#coverRegionName
{
 width:85% !important
}*/

