body {
}


/*#start_BoardlotTime
{
	width:48.5% !important
}
#end_BoardlotTime
{
	width:48.5% !important
}
#start_ServiceTime
{
	width:48.3% !important
}
#end_ServiceTime
{
	width:48.3% !important
}*/