<script type="text/javascript">
    var WebPortal = {};
    WebPortal.MessageMask = {
        Show: function (message) {
            $("#messageMask > #maskMessage").text(message);
            $("#messageMask").dialog({
                resizable: false,
                draggable: false,
                height: 95,
                width: 180,
                modal: true,
                closeOnEscape: false,
                open: function (event, ui) { $(".ui-dialog-titlebar").hide(); }
            });
        },
        Close: function () {
            $("#messageMask").dialog('close');
        }
    };
</script>
<div id="messageMask" style="display: none; padding: 20px">
    <img src="@Url.Content("~/Image/loading.gif")" alt="上传..."/>
    <span id="maskMessage">Uploading...</span>
</div>
