body {
}
#fileAttachmentGroupID_DrivingLicensePhoto
{
	width :74% !important;
	float:left;
}
#fileAttachmentGroupID_HeadPhoto
{
	width :74% !important;
	float:left;
}
#fileAttachmentGroupID_YearCheckBodyPhotoCopy
{
	width :70% !important;
	float:left;
}
#fileAttachmentGroupID_IDPhoto
{
	width :74% !important;
	float:left;
}