@model IEnumerable<BasicFramework.Entity.Menu>
    @{
        Layout = null;
        var user = (this.ViewContext.Controller as BasicFramework.Web.Common.BaseController).UserInfo;
    }

    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>基础系统</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Url.LoadPageCssJs()
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />

        <link href="../../../../../../../Content/Front/Home/layout-style.css" rel="stylesheet" />
        <link href="../../../../../../../Content/Front/Home/layout-media.css" rel="stylesheet" />
    </head>
    <body onload="loadMenu();" onresize="    loadMenu();">

        <div id="sidebar">
            <ul style="display:block;">
                <li>
                    <div style="text-align:center">
                        <img src="../../../../Image/风火轮.png" />
                    </div>
                    <div>
                        <span>@user.Name</span>
                        <a title="" href="Front/Home/LogOff" style="float:right"><i class="glyphicon glyphicon-log-out"></i> <span class="text">Logout</span></a>
                    </div>
                    <br />
                </li>
                @Html.Partial("LeftMenu")
            </ul>
        </div>


        <div id="content" style="background-color: #333;">
            <div>
                <div class="row-fluid" id="body" style="background-color: #333;">
                    <iframe id="myIframe" name='main' src='Front/Home/WelcomePage' allowtransparency="true" style="width: 100%;background-color: #333; display:none;" frameborder="0" scrolling="yes"/>
                </div>
            </div>
        </div>
       
        @*</div>*@

        <!--end-main-container-part-->
        <!--Footer-part-->
        <!--end-Footer-part-->
        <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script src="../../../../../../../Scripts/Front/Home/layout.js"></script>
    </body>

</html>
